streamlit==1.42.2
pandas==2.2.3
numpy==2.2.3
pyarrow==19.0.1  # Para ler arquivos Parquet
fastparquet==2024.11.0  # Alternativa para leitura de Parquet
plotly==6.0.0  # Para gráficos interativos
scikit-learn==1.6.1  # Se estiver usando machine learning
statsmodels==0.14.4  # Se estiver usando SARIMA ou outras estatísticas
prophet==1.1.6  # Se estiver usando previsões com Prophet
xgboost==2.1.4  # Se estiver usando modelos XGBoost
lightgbm==4.6.0  # Se estiver usando modelos LightGBM
scipy==1.15.2  # Requerido por modelos estatísticos
matplotlib==3.10.0  # Se quiser gráficos básicos além do Plotly
seaborn==0.13.2  # Para visualizações estatísticas opcionais
gdown==5.2.0
